{% extends "AvanzuAdminThemeBundle:layout:base-avanzu.layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{% block title 'Chatbot' %}

{% block page_content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}
    {% block avanzu_sidebar %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('_index') }}">Demo Home</a></li>
            {% endblock %}
        </ul>
    {% endblock %}

    {% block content_header %}
        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}hello{% endblock %}
    </div>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
